.calculator-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;


  .calulator {
    border: #757479 1px solid;
    border-radius: 10px;
    min-width: 300px;
    width: 300px;

    .calculator-input {
      display: block;
      margin: 1rem;
    }

    .buttons {
      display: flex;

      .button {
        min-width: 24.99%;

      }
    }

  }
}
