<div class="d-flex align-items-center justify-content-center calculator-container">
  <div class="calulator">
    <div class="d-flex calculator-input">
      <input [formControl]="inputValue" class="form-control flex-fill">
    </div>
    <div class="calculator-buttons mx-3">
      <div class="row pb-3">
        <div class="col-3">
          <button class="btn btn-light btn-block">C</button>
        </div>
        <div class="col-3">
          <button class="btn btn-light btn-block">+/-</button>
        </div>
        <div class="col-3">
          <button class="btn btn-light btn-block">/</button>
        </div>
        <div class="col-3">
          <button class="btn btn-light btn-block">*</button>
        </div>
      </div>

      <div class="row pb-3">
        <div class="col-3">
          <button class="btn btn-light btn-block" (click)="handleButtonClick(7)">7</button>
        </div>
        <div class="col-3">
          <button class="btn btn-light btn-block" (click)="handleButtonClick(7)">8</button>
        </div>
        <div class="col-3">
          <button class="btn btn-light btn-block" (click)="handleButtonClick(7)">9</button>
        </div>
        <div class="col-3">
          <button class="btn btn-light btn-block"  (click)="handleOperatorClick(operator.MINUS)">-</button>
        </div>
      </div>

      <div class="row pb-3">
        <div class="col-3">
          <button class="btn btn-light btn-block" (click)="handleButtonClick(4)">4</button>
        </div>
        <div class="col-3">
          <button class="btn btn-light btn-block" (click)="handleButtonClick(5)">5</button>
        </div>
        <div class="col-3">
          <button class="btn btn-light btn-block" (click)="handleButtonClick(6)">6</button>
        </div>
        <div class="col-3">
          <button class="btn btn-light btn-block" (click)="handleOperatorClick(operator.PLUS)">+</button>
        </div>
      </div>

      <div class="row pb-3">
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-light btn-block" (click)="handleButtonClick(1)">1</button>
            </div>
            <div class="col-6">
              <button class="btn btn-light btn-block" (click)="handleButtonClick(2)">2</button>
            </div>
            <div class="col-12 pt-3">
              <button class="btn btn-light btn-block" (click)="handleButtonClick(0)">0</button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <button class="btn btn-light btn-block">
                  3
                </button>
              </div>
              <div class="col-12 pt-3">
                <button class="btn btn-light btn-block">
                  .
                </button>
              </div>
            </div>
          </div>
          <div class="col-6 align-self-stretch">
            <div class="row h-100">
              <div class="col-12">
                <button class="btn btn-light btn-block h-100" (click)="handleOperatorClick(operator.RESULT)">
                  =
                </button>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>

